<!DOCTYPE html>
<div class="container">
    <div class="container--title">
        <h1 data-testid="titulo">Conversor <small>Angular</small></h1>
    </div>

    <form name="convertirForm" role="form" class="form">
        <fieldset>
            <div class="form--group">
                <label for="millas" class="form__label">Millas</label>
                <input name="millas" id="millas" class="form__control" data-testid="millas" required
                    [(ngModel)]="conversor.millas" (mouseover)="conversor.convertir()" #millas="ngModel"
                    pattern="^[0-9]+$" placeholder="Ingrese la cantidad de millas a convertir" autofocus="autofocus">
                <div *ngIf="millas.invalid && (millas.dirty || millas.touched)">
                    <div class="form__error" data-testid="errors">
                        Error:
                        <span *ngIf="millas.errors?.required">¡Debe ingresar millas!</span>
                        <span data-testid="numeric-format" *ngIf="millas.errors?.pattern">Formato debe ser
                            numérico</span>
                    </div>
                </div>
            </div>


            <div class="form--group">
                <button type="submit" id="convertir" class="form__button--primary" data-testid="convertir"
                    (click)="conversor.convertir()">Convertir</button>
            </div>

            <div class="form--group">
                <label for="kilometros" class="form__label">Kilómetros</label>
                <p class="form__control" id="kilometros" *ngIf="!millas.errors" data-testid="kilometros">
                    {{conversor.kilometros | number:'1.3-3':'es' }}</p>
            </div>
        </fieldset>
    </form>
</div>